/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLES */

.container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: 65px 400px 1fr;
}

/* nav-bar */

.nav-bar{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  background-image: linear-gradient(to bottom, #737373, #5e5e5e 50%, #717171 50%, #8d8d8d);
  height: 35px;
  width: 1000px;
  justify-self: center;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #6d6d6d;
}

.btn {
  font-size: 13px;
  border: 1px solid #6d6d6d;
  padding-top: 10px;
  padding-left: 35%;
  color: white;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.apple {
  padding-left: 40%;
  padding-top: 6px;
}

.iphone,
.itunes {
  padding-left: 30%;
}

.support {
  padding-left: 25%;
}

.search {
  padding-left: 10px;
  padding-top: 7px;
  background: url("images/mag.png") no-repeat left;
  background-size: 15%;
  background-position: 15% 50%;
}

.search input {
  margin-top: -10px;
  border-radius: 10px;
  width: 85%;
  height: 20px;
  opacity: 0.2;
  border: 1px solid #6d6d6d;
  box-shadow: inset 3px 5px 3px black;
}

.apple img {
  width: 20px;
}

/* hero */

.hero {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  height: 100;
  width: 100%;
  background-image: url("images/hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -830px;
  justify-items: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.7);
  margin: -20px 25%
}

h2 {
  margin: -30px 25%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.25em;
  font-weight: 100;
}

h3 {
  margin: -30px 25%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.promos {
  display: grid;
  grid-gap: 2px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  grid-template-columns: repeat(4, 1fr);
}

#iphone5s {
  background: url("images/promo_iphone5s.jpg");
}

#iphone5c {
  background: url("images/promo_iphone5c.jpg");
}

#thirty-years {
  background: url("images/promo_30_years.jpg");
}

#supplier {
  background: url("images/promo_supplier_responsibility.jpg");
}